name: Sync to Hugging Face hub
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.HF_SSH_KEY }}
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git lfs install
          git lfs track "*.jpg" "*.png" "*.splinecode" "*.mp4"
          git add .gitattributes
          git commit -m "Track large files with LFS" || true
          ssh-keyscan hf.co >> ~/.ssh/known_hosts
          git remote add space git@hf.co:spaces/Lineair/daitdanyang-frontend
          git push --force space main